.about {
    background: url(../images/aboutmenu.png) center center / cover no-repeat;
    position: relative;
    color: white;

    // @include phones {
    //     position: absolute;
    // }
}

.about__title {
    color: white;
    margin-right: rem(666px);
    margin-bottom: rem(500px);
}

.about__list {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.about__item {
    display: flex;
}

.about__btn {
    background: url(../images/about2.png) center center / cover no-repeat;
    width: rem(102px);
    position: relative;

    &--two {
        background: url(../images/about3.png) center center / cover no-repeat;
        width: rem(102px);
        position: relative;
    }

    &--three {
        background: url(../images/about4.png) center center / cover no-repeat;
        width: rem(102px);
        position: relative;
    }

    &--text {
        color: white;
        font-weight: bold;
        font-size: rem(48px);
        white-space: nowrap;
        position: absolute;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: 0 0;
        left: 50%;
        bottom: 0;

        // left: 50%;
        // bottom: -24%;
    }
}

.about__content {
    background: rgba(51, 53, 55, 0.9);
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.about__text {
    font-size: rem(16px);
    font-weight: normal;
    line-height: 1.5;
    color: white;
    padding: 30px 20px;
}