.benefit {
    text-align: center;
}

.benefit__image-wrapper {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.benefit__icon {
    /*width: 75px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/ 
    margin: 0 auto;


    &::before {
        content: '';
        position: absolute;
        top: 30px;
        right: 0;
    }
}

.benefit__title {
    font-weight: bold;
    color: #292929;
    font-size: 27px;
}