.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 2%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(19px);
    }

    &:before {
        content: url(../images/page2/c.png);
        position: absolute;
        top: rem(65px);
        right: 0;
        transform: translatex(50%);

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}