.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__item {
    @include phones {
        padding: 0;
        margin-bottom: rem(19px);
    }
}

.benefit__image {
    @include phones {
        margin-bottom: 0;
        margin-right: rem(20px);
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    padding: rem(30px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto rem(15px) auto;
}

.benefit__icon {
    /*width: rem(75px);
    height: rem(90px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/ 
    margin: 0 auto;


    &:before {
        content: '';
        position: absolute;
        top: rem(30px);
        right: 0;
    }
}

.benefit__title {
    font-weight: bold;
    color: #292929;
    font-size: rem(27px);
    margin-bottom: rem(16px);
}