.btn {
    font-size: 19px;
    font-weight: bold;
    padding: 18px 35px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;

    &--theme-yellow {
        background: #FEDB3F;
        color: #000;
        border: none;
    }

    &--theme-transparent {
        background: transparent;
        color: white;
        border: none;
        text-transform: none;

        &:hover {
            color: black;
            background: #FEDB3F;
        }
    }
}