.btn {
    font-size: 16px;
    font-weight: bold;
    padding: 21px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &--theme-yellow {
        background: #FEDB3F;
        color: #000;
        border: none;
        margin-left: -10px;
        margin-right: -20px;
    }

    &--theme-transparent {
        background: transparent;
        color: white;
        border: none;
        text-transform: none;
        font-weight: normal;
        font-size: 18px;
    }
}