.btn {
    font-size: rem(16px);
    font-weight: bold;
    padding: rem(21px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    @include phones {
        font-size: 19px;
        font-weight: bold;
    }

    &--theme-yellow {
        background: #FEDB3F;
        color: #000;
        border: none;
        z-index: 1000;
    }

    &--theme-transparent {
        background: transparent;
        color: white;
        border: none;
        text-transform: none;
        font-weight: normal;
        font-size: rem(18px);
    }
}