.phone-number {
    font-size: rem(22px);
    text-decoration: none;
    font-style: normal;
    color: white;
    white-space: nowrap;

    &--footer {
        color: black;
    }
}

.contacts--footer {
    font-style: normal;

    @include phones {
        margin-bottom: rem(20px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacts__place {
    color: black;
    @include phones {
        margin-bottom: rem(12px);
    }
}

.contacts__phone {
    color: #292929;
}

.phone-number__icon-el {
    color: #292929;
    margin-top: 5px;

    @include tablets {
        display: flex;
    }
}