.form {
    display: flex;
    /*margin-top: rem(53px);*/

    @include tablets {
        padding: 0 17%;
        flex-direction: column;
    }

    @include phones {
        padding: 2%;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(29px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(14px);

    &--first {
        margin-bottom: rem(5px);
    }

    &--second {
        margin-bottom: rem(7px);
    }

    &--last {
        margin-bottom: rem(19px);
    }
}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    padding: rem(17px) rem(11px);
    border: solid rem(3px) transparent;
    border-radius: rem(4px);

    @include tablets {
        padding: rem(4px) rem(5px);
    }

    /*&--first {
        width: rem(222px);
    }*/

    &--textarea {
        height: rem(82px);
        /*width: rem(450px);*/
        resize: none;
        margin-bottom: rem(15px);
        border-radius: rem(4px);
    }

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__control {
    margin-bottom: rem(7px);
}
.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(20px);

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    margin-top: rem(50px);

    @include tablets {
        display: flex;
        justify-content: center;

    }
}

.form__btn--yellow {
    margin-left: rem(-10px);
    margin-right: rem(-20px);
}