.form {
    display: flex;
    margin-top: 53px;
}

.form__col {
    flex: 1;
    margin-right: 29px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 32px;

    &--first {
        margin-bottom: 5px;
    }

    &--second {
        margin-bottom: 7px;
    }

    &--last {
        margin-bottom: 19px;
    }
}

.form__block {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    padding: 17px 11px;
    border: solid 3px transparent;
    border-radius: 4px;

    &--first {
        width: 222px;
    }

    &--textarea {
        height: 152px;
        width: 450px;
        resize: none;
        margin-bottom: 15px;
        border-radius: 4px;
    }

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }
}

.form__control {
    margin-bottom: 7px;
}
.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form__btns {
    margin-top: 50px;
}