.hamburger {
    width: 24px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: white;
    height: 4px;
    border-radius: 10px;
}

.hamburger__menu {
    display: none;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    align-items: center;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: #333537;
    z-index: 100;
}

.hamburger__menu--close {
    position: absolute;
    top: 5%;
    right: 5%;
    height: rem(24px);
    width: rem(24px);
    z-index: 10;
}

.hamburger__menu--close--icon {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.hamburger__menu.active {
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
}

.menu__line {
    display: block;
}

.menu__line .menu__list {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    color: white;
    font-size: rem(36px);
    overflow: hidden;
}
