.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
        position: absolute;
        background: #1968B1;
        padding: rem(26px) rem(36px) rem(26px) rem(30px);
        left: 0;
        top: 0;
        right: 0;
    }

    @include phones {
        padding: rem(24px) rem(10px) rem(20px) rem(10px);
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.menu {
    margin: 0 30px;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(22px);
    font-weight: bold;
    margin-top: 10px;

    &:last-child {
        margin-bottom: 0;        
    }
}

.menu__link {
    white-space: nowrap;
}

.phone-number {
    font-size: rem(22px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__text {
    white-space: nowrap;
}

/*.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}*/

.menu__link {
    text-decoration: none;
}