.hero {
    background: url("../images/backhello.png") no-repeat, black;
    background-size: cover;
    height: 100vh;
    min-height: rem(650px);
    color: #fff;
    display: flex;

    @include tablets {
        background: url("../images/back2.png") 50% / cover no-repeat, #1968B1;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px);

    @include tablets {
        padding: 0;
    }
}

.hero__title-section {
    width: 46%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.hero__main-title {
    font-size: rem(48px);
    line-height: rem(57.7px);
    font-weight: bold;
    margin-bottom: rem(17px);
    text-transform: uppercase;
    max-width: 670px;

    @include phones {
        font-size: rem(40px);
        line-height: rem(36px);
    }

    @include small-phones {
        font-size: rem(30px);
        line-height: rem(24px);
    }
}

.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(36px);
    /*padding-right: 10%;*/

    @include phones {
        font-size: rem(18px);
        ;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}