.hero {
    background: url("../images/backhello.png") no-repeat, black;
    background-size: cover;
    height: 100vh;
    min-height: 650px;
    color: #fff;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 36px;
    padding-right: 10%;
}