$conteinerWidth: 940px;
$baseFontSize: 18px;

$tablets: 768px;
$phones: 480px;
$small-phones: 380px;

@import './media.scss';
@import './layout.scss';
@import './hero.scss';
@import './header.scss';
@import './features.scss';
@import './feature.scss';
@import './btn.scss';
@import './section.scss';
@import './headline.scss';
@import './benefits.scss';
@import './benefit.scss';
@import './reviews.scss';
@import './interactive-avatar.scss';
@import './form.scss';
@import './order.scss';
@import './radio.scss';
@import './fixed-menu.scss';
@import './hamburger.scss';
@import './map.scss';
