$conteinerWidth: 940px;
$baseFontSize: 18px;

$tablets: 768px;
$tabl: 1024px;
$phones: 480px;
$small-phones: 410px;

@import './media.scss';
@import './layout.scss';
@import './hero.scss';
@import './header.scss';
@import './features.scss';
@import './feature.scss';
@import './btn.scss';
@import './section.scss';
@import './headline.scss';
@import './benefits.scss';
@import './benefit.scss';
@import './products.scss';
@import './reviews.scss';
@import './interactive-avatar.scss';
@import './form.scss';
@import './order.scss';
@import './radio.scss';
@import './fixed-menu.scss';
@import './hamburger.scss';
@import './map.scss';
@import './svg.scss';
@import './socials.scss';
@import './contacts.scss';
@import './footer.scss';
@import './products.scss';
@import './hamburger.scss';
@import './modal.scss';
@import './team.scss';
@import './about.scss';
@import './video.scss';