.products {
    background: #F8FAF9;
    color: black;
}

.products__slider {
    max-height: 100%;
    position: relative;

    &--arrow {
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        z-index: 10;

        @include tablets {
            top: rem(237px);
        }
        @include phones {
            top: rem(196px);
        }
    }
}

.products__arrow--left {
    left: rem(-22px);

    @include tablets {
        left: 18%;
    }

    @include phones {
        left: 0;
    }
}

.products__arrow--right {
    right: rem(-34px);

    @include tablets {
        right: 18%;
    }

    @include phones {
        right: 0;
    }
}

// .products__arrows {
//     position: absolute;
//     top: 44%;
//     fill: transparent;
//     width: 24px;
//     height: 40px;
//     z-index: 1;
// }

.product__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: rem(74px);

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-left: 0;
        justify-content: center;
    }
}

.products__content {
    flex: 1;
    max-width: rem(528px);
}

.product__img {
    flex: 1;
    width: rem(420px);
    height: rem(538px);
    margin-top: rem(30px);
    margin-right: rem(61px);
    position: relative;

    @include tablets {
        width: rem(318px);
        height: rem(405px);
        margin-top: 0;
        margin-right: 0;
        margin-bottom: rem(13px);
        flex: initial;
    }

    @include phones {
        width: rem(249px);
        height: rem(339px);
        margin-left: rem(15px);
        margin-bottom: rem(31px);
    }

    &:after {
        content: '';
        background: url("../images/products/back.png") center center/ contain no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -43%);
        width: rem(396px);
        height: rem(378px);

        @include tablets {
            width: rem(306px);
            height: rem(292px);
        }

        @include phones {
            width: rem(250px);
            height: rem(250px);
        }
    }
}

.product__img--pic {
    position: relative;
    z-index: 1;
    max-width: 100%;
}

.product__content {
    flex: 1;
    max-width: rem(528px);
}

.product__info {
    @include phones {
        max-width: rem(380px);
    }
}

.info {
    position: relative;
    display: inline-block;

    &:hover {
        .info__list {
            left: 100%;
            opacity: 1;
        }
    }

    @include tablets {
        display: none;
    }
}

.info__button {
    width: rem(91px);
    height: rem(91px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3A587E;
    border-radius: rem(4px);
    padding: rem(17px) rem(26px) rem(12px) rem(27px);
    margin-bottom: 52px;
}

.info__icon {
    width: rem(38px);
    height: rem(38px);
    margin-bottom: rem(7px);
}

.info__title {
    font-size: rem(14px);
    font-weight: bold;
    color: white;
}

.info__pic {
    width: rem(32px);
    height: rem(32px);
    margin-right: rem(12px);
}

.info__list {
    position: absolute;
    top: 0;
    left: -99999px;
    opacity: 0;
    background: #d5d5d5;
    min-width: rem(273px);
    padding: rem(18px) rem(14px);
    border-radius: rem(4px);
    transition: opacity .3s;
}

.info__item {
    padding: rem(6px) rem(12px);
    display: flex;
    align-items: center;
    margin-bottom: rem(8px);

    &:last-child {
        margin-bottom: 0;
    }
}

.info__text {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.info__param {
    margin-left: auto;
}

.product__headline {
    font-size: rem(36px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rem(24px);

    @include tablets {
        font-size: rem(30px);
        line-height: rem(36px);
        margin-bottom: rem(14px);
    }
}

.product__text {
    color: #666666;
    margin-bottom: rem(24px);
    width: rem(368px);
    @include tablets {
        width: auto;
    }
}

.product__property {
    display: flex;
    margin-bottom: rem(21px);

    @include tablets {
        justify-content: center;
        padding-left: rem(25px);
    }
}

.product__prop {

    @include tablets {
        margin-right: rem(52px);

        &:last-child {
            margin-right: 0;
        }
    }
}

.product__prop--item {
    text-align: left;

    &:first-child {
        margin-right: rem(52px);

        @include tablets {
            margin-right: rem(0px);
        }
    }
}

.product__prop--value {
    font-weight: bold;
}

.product__order {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
        justify-content: center;
    }
}

.product__order--price {
    font-size: rem(60px);
    margin-right: rem(20px);

    @include tablets {
        margin-right: rem(32px);
    }
}