.reviews__display {
    background: #F8FAF9;
    margin-bottom: rem(10px);
    overflow: hidden;
    position: relative;

    &-inner {
        padding-right: rem(142px);
    }

    @include tablets {
        margin-bottom: rem(30px);
    }

    &:before {
        content: "";
        display: block;
        width: rem(90px);
        height: rem(90px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        top: rem(-65px);

        @include tablets {
            display: none;
        }
    }
}

.reviews__list {
    position: relative;
    min-height: rem(280px);
}

.reviews__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;

    &--active {
        position: static;
        opacity: 1;
        pointer-events: unset;
    }
}

.reviews__display-inner {
    display: flex;
    padding-top: rem(42px);
    padding-left: rem(42px);
    padding-bottom: rem(42px);

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: rem(56px);
        padding-left: rem(24px);
        padding-bottom: rem(46px);
        padding-right: rem(24px);
    }

    @include phones {
        padding: rem(53px) rem(18px) rem(29px);
    }
}

.reviews__avatar {
    width: rem(254px);
    height: rem(260px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
        margin-bottom: rem(32px);
    }

    @include phones {
        margin-bottom: rem(27px);
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    padding-top: rem(28px);
    padding-left: rem(35px);

    @include tablets {
        padding-top: 0;
        padding-left: 0;
    }
}

.reviews__title {
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(9px);
    color: #292929;
}

.reviews__text {
    margin-bottom: rem(22px);
    line-height: 1.3;

    @include tablets {
        margin-bottom: rem(16px); 
    }

    @include phones {
        margin-bottom: rem(8px);
    }
}

.reviews__author {
    font-size: rem(18px);
    font-weight: bold;
    color: #292929;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__switcher-item {
    margin-right: rem(15px);
}