.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font--color--white {
        color: white;

        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(32px);
    text-align: center;
    color: #292929;
    text-transform: uppercase;

    @include phones {
        font-size: rem(40px);
        margin-bottom: rem(14px);
    }

    &--order {
        margin-bottom: rem(34px);

        @include phones {
            margin-bottom: rem(18px);
        }
    }
}