.phone-number__i {
    width: 12px;
    height: 13px;
    margin-right: 5px;
}

.phone-number__icon-elem {
    fill: white;
    width: 12px;
    height: 13px;
}

.feature__icon {
    fill: white;
}

.socials__icon {
    width: 20px;
    height: 20px;
    fill: #B3B3B3;

    &:hover {
        fill: black;
    }
}

